

<app-header></app-header>




  
<div class="body">
  

  <div class="main-div">
  
    <mat-card class="example-card">
      
      <div class="login-box-header">
        
          <img class="img-responsive logo" src="assets/img/logo.png">
      
      </div>
      <mat-card-content>
       
        <p>
          <mat-form-field color="warn">
            <mat-label>Usuario : </mat-label>
            <input matInput placeholder="example" (ngModel)="user" (change)="cambiar($event,'user')" 
            (keyup.enter)="addToKeywords()" value="{{user}}">
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>Ingrese su usuario.</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field color="warn">
            <mat-label>Password : </mat-label>
            <input matInput placeholder="***********" type="password" (ngModel)="password" (change)="cambiar($event,'password')"
             (keyup.enter)="addToKeywords()" value="{{password}}">
            <mat-icon matSuffix>https</mat-icon>
            <mat-hint>Ingrese su contraseña.</mat-hint>
          </mat-form-field>
        </p>


      </mat-card-content>
      <mat-card-actions>

        <button mat-raised-button  color="warn" (click)="loginUser()" >Login </button>
        <br><br><br>


        
      </mat-card-actions>
    </mat-card>
    
    
   
  </div>
  

</div>



<app-footer></app-footer>

<div class="overlay"  *ngIf="loading$ | async">
  <mat-progress-spinner [mode]="'indeterminate'" [color]="'Warn'" [strokeWidth]="3" ></mat-progress-spinner>
</div>