 
<div class="main-div">

  <mat-card class="example-card">
    
  
    <mat-card-content>

      <p>
        <mat-form-field color="warn" appearance="fill">
          <mat-label>Título:</mat-label>
          <input matInput formControlName="titulo" placeholder="Título de la tarea">
          <mat-hint>Ingrese el título de la tarea</mat-hint>
          <mat-error *ngIf="tareaForm.get('titulo')?.hasError('required')">El título es obligatorio</mat-error>
          <mat-error *ngIf="tareaForm.get('titulo')?.hasError('maxlength')">El título no puede tener más de 100 caracteres</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field color="warn" appearance="fill">
          <mat-label>Descripción:</mat-label>
          <textarea matInput formControlName="descripcion" placeholder="Descripción de la tarea"></textarea>
          <mat-hint>Ingrese una breve descripción de la tarea</mat-hint>
          <mat-error *ngIf="tareaForm.get('descripcion')?.hasError('required')">La descripción es obligatoria</mat-error>
          <mat-error *ngIf="tareaForm.get('descripcion')?.hasError('maxlength')">La descripción no puede tener más de 500 caracteres</mat-error>
        </mat-form-field>
      </p>



    <p>
      <mat-form-field color="warn" appearance="fill">
        <mat-label>Fecha de Vencimiento:</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fecha_vencimiento" placeholder="Fecha de vencimiento">
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="tareaForm.get('fecha_vencimiento')?.hasError('required')">La fecha de vencimiento es obligatoria</mat-error>
      </mat-form-field>
    </p>





    </mat-card-content>



    <mat-card-actions>
      <br><br><br>
      <button mat-raised-button  color="warn">crear </button>
    </mat-card-actions>
    
  </mat-card>
  
  
 
</div>
  

