
<app-header></app-header>



<mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" >



    <mat-list class="shadofinal">
      <a mat-button routerLink="dashboard" (click)="panelCokie(0)" class="mybtn">
        <mat-icon>home</mat-icon>&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;</a>
      
      <!-- <mat-list-option routerLink="dashboard" 
      routerLinkActive="active" (click)="panelCokie(0)">Dashboard</mat-list-option>

      <mat-list-option>asdasd</mat-list-option>
      <mat-list-option>asdasd</mat-list-option>
      <mat-list-option>asdasd</mat-list-option> -->
    </mat-list>
    <!-- <mat-divider></mat-divider> -->





    <mat-accordion>
      <mat-expansion-panel *ngFor="let item1 of dataMenu; let i = index" [expanded]="setCockie(item1.id_seccion)"
      (opened)="panelOpenState = true" (closed)="panelOpenState = false" (click)="panelCokie(item1.id_seccion)" class="myexpanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>home</mat-icon>&nbsp;&nbsp;&nbsp;{{ item1.s_seccion }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-list class="mylist">
          <a mat-button routerLink="dashboard" class="mybtn" routerLink="{{ item2.s_url | lowercase }}"  
          *ngFor="let item2 of item1.modulos; let i = index" routerLinkActive="active">
            <mat-icon>home</mat-icon>&nbsp;&nbsp;{{ item2.s_modulo }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </mat-list>



        <!-- <p *ngFor="let item2 of item1.modulos; let i = index" >
          <a routerLink="{{ item2.s_url | lowercase }}" 
             routerLinkActive="active">{{ item2.s_modulo }}</a>
        </p> -->
      </mat-expansion-panel>
    </mat-accordion>


  
  
  </mat-drawer>

  <div class="example-sidenav-content">



    <mat-toolbar color="warn" fxLayout="row" fxLayoutAlign="space-between center">
        
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
            <button mat-button (click)="drawer.toggle()" >
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div fxLayout="row" class="leftMenu" fxShow="false" fxShow.gt-sm>
            <button mat-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon> Logout
            </button>
        </div>

      


        <!-- <span>
          <button mat-button routerLink="/">XXX</button>
          <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
        </span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
          <button mat-button routerLink="/login" >
            <mat-icon>power_settings_new</mat-icon>
            Login
          </button>
          <button mat-button >
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
          <button mat-button routerLink="/game">
            <mat-icon>gamepad</mat-icon>
            Play
          </button>
        </div>
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button> -->
    </mat-toolbar>
    
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </button>
        <button mat-menu-item routerLink="/game">
          <mat-icon>gamepad</mat-icon>
          Play
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon>power_settings_new</mat-icon>
          Login
        </button>
        <button mat-menu-item >
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
    </mat-menu>




    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>





<app-footer></app-footer>